include locations/searchable_points/au_centroids_120km_radius.csv
include locations/searchable_points/au_centroids_20km_radius.csv
include locations/searchable_points/au_centroids_40km_radius.csv
include locations/searchable_points/au_centroids_80km_radius.csv
include locations/searchable_points/ca_centroids_100mile_radius.csv
include locations/searchable_points/ca_centroids_100mile_radius_territory.csv
include locations/searchable_points/ca_centroids_10mile_radius.csv
include locations/searchable_points/ca_centroids_10mile_radius_territory.csv
include locations/searchable_points/ca_centroids_25mile_radius.csv
include locations/searchable_points/ca_centroids_25mile_radius_territory.csv
include locations/searchable_points/ca_centroids_50mile_radius.csv
include locations/searchable_points/ca_centroids_50mile_radius_territory.csv
include locations/searchable_points/earth_centroids_iseadgg_345km_radius.csv
include locations/searchable_points/eu_centroids_120km_radius_country.csv
include locations/searchable_points/eu_centroids_20km_radius_country.csv
include locations/searchable_points/eu_centroids_40km_radius_country.csv
include locations/searchable_points/eu_centroids_80km_radius_country.csv
include locations/searchable_points/germany_grid_15km.csv
include locations/searchable_points/us_centroids_100mile_radius.csv
include locations/searchable_points/us_centroids_100mile_radius_state.csv
include locations/searchable_points/us_centroids_10mile_radius.csv
include locations/searchable_points/us_centroids_10mile_radius_state.csv
include locations/searchable_points/us_centroids_25mile_radius.csv
include locations/searchable_points/us_centroids_25mile_radius_state.csv
include locations/searchable_points/us_centroids_50mile_radius.csv
include locations/searchable_points/us_centroids_50mile_radius_state.csv
include locations/searchable_points/country_coordinates.json
include locations/searchable_points/postcodes/frzips.csv.gz
include locations/searchable_points/postcodes/uszips.csv.gz
