[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
pytest = "*"
black = "*"
autoflake8 = "*"
isort = "*"
pre-commit = "*"
exceptiongroup = "*"
shub = "*"
pipenv = "*"
bigquery-schema-generator = "*"

[packages]
scrapy = "2.9.0"
pygithub = "*"
python-json-logger = "*"
geonamescache = "*"
json5 = "*"
brotli = "*"
chompjs = "*"
phonenumbers = "*"
xmltodict = "*"
scrapy-playwright = "*"
requests-cache = "*"
requests = "*"
pycountry = "*"
pyproj = "*"
reverse-geocoder = "*"
ijson = "*"
tzdata = "*"
unidecode = "*"
pygeohash = "*"
scrapy-zyte-api = "*"
cryptography = "*"
pyyaml = "*"
botocore = "*"
scrapy-zyte-smartproxy = "*"
spidermon = {version = "*", extras = ["monitoring", "validation"]}
google-cloud-storage = "*"
awscli = "*"
boto3 = "*"
msgpack-python = "*"
google-cloud-logging = "*"
google-cloud-firestore = "*"
firebase-admin = "*"
mergedeep = "*"
shapely = "*"